<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.12.1" targetFramework="monoandroid51" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="monoandroid81" />
  <package id="Jint" version="2.11.58" targetFramework="monoandroid81" />
  <package id="LtGt" version="1.0.0" targetFramework="monoandroid51" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="monoandroid81" />
  <package id="Refractored.Controls.CircleImageView" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Rssdp" version="4.0.2" targetFramework="monoandroid81" />
  <package id="SharpCaster" version="0.4.0" targetFramework="monoandroid81" />
  <package id="Sharpcaster.SocketsForPCL" version="2.0.4" targetFramework="monoandroid81" />
  <package id="Sprache" version="2.2.0" targetFramework="monoandroid51" />
  <package id="System.Buffers" version="4.5.0" targetFramework="monoandroid81" />
  <package id="System.Collections" version="4.3.0" targetFramework="monoandroid51" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="monoandroid51" />
  <package id="System.Globalization" version="4.3.0" targetFramework="monoandroid51" />
  <package id="System.IO" version="4.3.0" targetFramework="monoandroid51" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="monoandroid81" />
  <package id="System.Memory" version="4.5.3" targetFramework="monoandroid51" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="monoandroid51" />
  <package id="System.Net.Primitives" version="4.0.11" targetFramework="monoandroid51" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="monoandroid51" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="monoandroid51" />
  <package id="System.Reflection" version="4.1.0" targetFramework="monoandroid51" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="monoandroid51" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="monoandroid51" />
  <package id="System.Runtime" version="4.3.0" targetFramework="monoandroid51" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="monoandroid81" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="monoandroid51" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="monoandroid51" />
  <package id="System.Text.Encoding" version="4.0.11" targetFramework="monoandroid51" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="monoandroid51" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11" targetFramework="monoandroid51" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="monoandroid51" />
  <package id="System.Threading" version="4.0.11" targetFramework="monoandroid51" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="monoandroid51" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="monoandroid51" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.2.1" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.Design" version="23.2.1" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v4" version="23.2.1" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.2.1" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.2.1" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.2.1" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.2.1" targetFramework="monoandroid51" />
  <package id="YoutubeExplode" version="4.7.6" targetFramework="monoandroid51" />
</packages>